
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }
/*** Spinner End ***/


/*** Common CSS Start ***/
h1,
h2,
h3,
.h1,
.h2,
.h3 {
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

h4,
.h4 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

h5,
h6,
.h5,
.h6 {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: justify; /* Justifica o texto */
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
}

.display-5 {
    font-weight: 600;
    text-align: justify; /* Justifica o texto */
}

.wow,
.animated {
    animation-duration: 2s !important;
}

.number-box h2 {
    font-size: 2.5rem;
    font-weight: bold;
    }

/* Estilo para o botão de voltar ao topo */
.back-to-top {
    position: fixed;
    bottom: 30px; /* Distância do fundo da página */
    left: 30px; /* Distância da borda esquerda da página */
    width: 45px;
    height: 45px;
    background-color: rgba(255, 72, 128, 1); /* Cor de fundo do botão */
    color: white; /* Cor do ícone */
    border-radius: 50%; /* Deixa o botão redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Tamanho do ícone */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s ease; /* Transição suave */
    z-index: 99; /* Fica acima de outros elementos */
}

.back-to-top:hover {
    background-color: rgb(249, 252, 211); /* Cor quando o mouse passar sobre o botão */
}

.back-to-top.show {
    opacity: 1; /* Torna o botão visível quando a classe 'show' for adicionada */
}

.img-border-radius {
    border-radius: 50% 20% / 10% 40%;
}

.title-border-radius {
    border-radius: 10% 30%;
}
/*** Common CSS End ***/


/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    border: 0;
    color: var(--bs-white);
}

.btn.btn-primary:hover {
    background: rgb(249, 252, 211);
    color: var(--bs-primary);
}

.btn-border-radius {
    border-radius: 25% 10%;
}

/*** Button End ***/


/*** Topbar Start ***/
.topbar .top-info {
    font-size: medium;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar .top-link a {
    margin-right: 10px;
}

.topbar .top-link a:hover {
    background: var(--bs-secondary) !important;
}

.topbar .top-link a:hover i {
    color: var(--bs-primary) !important;
}
/*** Topbar End ***/


/*** Navbar Start ***/
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

/* Ajuste para aumentar o tamanho da fonte e reduzir o espaçamento */
.navbar .navbar-nav .nav-link {
    padding: 8px 10px; /* Diminuindo o padding para aproximar os links */
    font-size: 18px; /* Aumentando o tamanho da fonte */
    font-weight: 600;
    transition: .5s;
    margin-left: -20px; /* Reduzindo o espaço à esquerda do primeiro link */
}

.navbar-brand {
    margin-right: -35px; /* Aproximando a logo dos links */
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        font-weight: 400;
        font-family: 'Fredoka', sans-serif;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        transition: .5s;
        opacity: 0;
    }
}

.paragraph {
    display: grid;
    grid-template-columns: 1fr; /* Uma única coluna para telas menores */
    gap: 40px;
    justify-content: center; /* Centraliza a imagem e o texto */
}

@media (min-width: 1000px) {
    .paragraph {
        grid-template-columns: 40% 60%;
        justify-content: left;
    }
    .image-column {
        align-content: center; /* Mantém o alinhamento vertical da imagem */
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-secondary);
    color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    border-radius: 10px !important;
    transition: .5s;
    opacity: 1;
}

/*** Navbar End ***/


/*** Hero Header ***/
.hero-header,
.page-header {
    background: url(../img/Caritate.jpg), linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7) 10%, rgba(255, 192, 203, 0.5) 30%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*** Hero Header ***/


/*** About Start ***/

/*** Section for Numbers ***/
.number-box {
    margin: 20px 0;
    text-align: center;
}

.number-box h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ff4081; /* Você pode mudar a cor para combinar com o seu tema */
}

.number-box p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.about {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilos para a imagem de fundo na seção "Números do Projeto" */
.projeto-numbers-bg {
    color: white; /* Garantir que o texto seja legível sobre a imagem */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    padding: 50px 0; /* Adiciona um espaçamento ao redor do conteúdo */
}

/*** About End ***/


/*** service Start ***/
.service {
    background: linear-gradient(rgba(255, 72, 128, 0.05), rgba(255, 72, 128, 0.2));
}

.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 72, 128, 1); /* Cor rosa inicial */
    border-radius:10% 40% / 10% 40%;
    transition: 0.5s;
    position: relative;
}

.service-content::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 50% 20% / 10% 40%;
    text-align: justify; /* Justifica o texto */
    transition: .5s;
    z-index: 1; /* Z-index abaixo do texto */
}

.service-item .service-content .service-content-inner {
    position: relative;
    z-index: 2; /* Z-index acima do fundo */
}

.service-item .service-content-inner i,
.service-item .service-content-inner p,
.service-item .service-content-inner a.h4 {
    transition: color 0.5s;
    text-align: justify; /* Justifica o texto */
    z-index: 3; /* Garantindo que o texto fique acima */
}

.service-item:hover .service-content-inner i,
.service-item:hover .service-content-inner p {
    color: inherit !important;
}

.service-item:hover .service-content-inner a.h4 {
    color: inherit !important;
}

/*** Service End ***/


/*** Programs Start ***/
.program {
    background: linear-gradient(rgba(255, 72, 128, 0.1), rgba(255, 72, 128, 0.1));
}

.program .program-item .program-text {
    padding-top: 150px; 
    margin-top: -125px;
}

.program .program-item .program-img img,
.program .program-item:hover .program-text-inner a.h4 {
    transition: 0.5s;
}

.program .program-item:hover .program-text-inner a.h4 {
    color: var(--bs-primary) !important;
}
/*** Programs End ***/


/*** testimonial Start ***/
.testimonial .testimonial-carousel {
    position: relative;
    
}

.testimonial .testimonial-carousel .owl-dots {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--bs-primary);
    border-radius: 10px;
    transition: 0.5s;
}

.testimonial .testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--bs-secondary);
}
/*** testimonial End ***/

/*** Botão de Whatsapp***/
.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    }

    .fa-whatsapp {
    margin-top: 16px;
    }
/*** Botão de Whatsapp***/

/*** Footer Start ***/
.footer {
    background: linear-gradient(rgba(232, 141, 168, 0.05), rgba(255, 72, 128, 0.2));
}

.footer-item a.text-body:hover {
    color: var(--bs-secondary) !important;
}
/*** Footer End ***/